<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/8500326332.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ "/assets/css/dist-tailwind.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <script defer src="https://cloud.umami.is/script.js" data-website-id="26e1177f-ab5a-4e3f-b60b-e928eed9ca47"></script>
</head>

<body>
  {% include navbar.html %}
  {% include nav-overlay.html %}
  <main>
    {{ content }}
  </main>
  {% include footer.html %}
  {% include top_fab.html %}
</body>

</html>