---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.news.size > 0 -%}
    <h2 class="post-list-heading">selected news</h2>
    <ul>
        {%- for news in site.news -%}
            {%- if news.selected -%}
            <li>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <a href="{{ news.url | relative_url }}">
                    {{ news.title | escape }}
                </a>
                {%- if news.short -%}
                - {{ news.short }}
                {%- endif -%}
                <br>
                <span class="post-meta">{{ news.date | date: date_format }}</span>
            </li>
            {%- endif -%}
        {%- endfor -%}
    </ul>

    <p>
        view <a href="/news/">all news</a>
    </p>
    {%- endif -%}

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">selected posts</h2>
    <ul class="post-list">
        {%- for post in site.posts -%}
            {%- if post.selected -%}
                <li>
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <span class="post-meta">{{ post.date | date: date_format }}</span>
                    <h3>
                        <a class="post-link" href="{{ post.url | relative_url }}">
                            {{ post.title | escape }}
                        </a>
                    </h3>
                    {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                    {%- endif -%}
                </li>
            {%- endif -%}
        {%- endfor -%}
    </ul>
    <p>
        view <a href="/blog/">all posts</a>
    </p>
    {%- endif -%}
</div>